*{
    margin:0;
    padding:0;
    box-sizing: border-box; /* width:400 =width+padding+border */
}

/* root */
:root{
    --main_color: red;
    --main_bgcolor: black;
}
html{
    font-size: 20px;
}
body{
    padding: 0 10%;
    background-color: var(--main_bgcolor);
    color: var(--main_color);
}

/* External CSS */
h2{
    color:orange;
    background-color: black;
}
#parag_id{
    font-size: small !important;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    line-height: 1.2;
    text-align:justify;
    text-decoration: underline;
    text-transform: capitalize !important;
    text-shadow: 0.5px -0.6px 5px blue;

    line-height: 2;
    word-spacing: 1px !important;
    letter-spacing: 1.3px !important;
    column-count: 3;
    column-gap: 25px !important;
    column-rule: 1px solid orange !important;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    -webkit-line-clamp: 4;
    line-clamp: 4;

}
.div_class{
    border:1px solid #ccc ;
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin:20px;
    margin: 10px 10px 10px 10px; */
    margin: 10px 30px;

    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding:20px;
    padding: 10px 20px 30px 40px; */
    padding: 10px 30px;

    box-shadow: 10px 1px 10px 1px rgba(0,0,0,7);
    border: 1px solid blue !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 50% ;
}
/* color .div_common */

.div_common{
    /* 
    height: 1rem;
    width: 50%; 
    */
    
    height: 100px;
    width: 200%;
    margin-bottom: 20px;
    padding: 2rem ;
    box-shadow: 10px 1px 10px 1px rgba(0,0,0,7);
    cursor: pointer;
    display: block;
    display: inline;
    display: inline-block;
    
}

.color_class {
    color: white;
    background-color: black;
    background-color: red;
    background-color: rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.5);
    /* 
    hsl: 
    h: hue ( ton: 0-360)
    s: saturation (doygunluk: 0-100%)
    l: lightness ( açıklık: 0-100%)
     */
    background-color: hsl(120, 100%, 50%);
    background-color: hsla(120, 100%, 50%, 0.5);
}
.a_link{
    color: rgb(255, 255, 255);
    background-color: rgb(230, 37, 37);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-shadow: 0.5px -0.6px 5px rgb(0, 0, 0);
    padding: 0.4rem;
    border-radius: 5%;
    border:none;
    display: block;
    /* display: none;
    visibility: hidden; */
}
.a_link:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(49, 162, 11);
}
/* list */
#ul_id{
    list-style: square;
    list-style: none;
}
#ul_id li{
    color: black;
    background-color: beige;
    border: 1px solid rgba(0,0,0,0.8);
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;

} 
#ul_id li:hover{
    color: beige;
    background-color: black;

}
/* table */
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid red;
}
table th{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}
table td{
    background-color: beige;
    color: black;
    padding: 0.5rem;
}
table td:hover{
    background-color: black;
    color: beige;
}
/* clearfix */
.my_clearfix::after{
    content: "";
    display: table;
    clear: both;
}
#my_clip_path{
    clip-path: polygon(55% 0%, 100% 55%, 55% 100%, 0 50%);
}

/* selector(seçici) */
/* p{
    color:blue;
    background-color: white;
} */

/* div p{
    color:blue;
    background-color: yellow;
} */

/* div> p{
    color:blue;
    background-color: yellow;
}
p::before{
    content: "Frontend";
}
p::after{
    content: "Developer";
}
p:hover{
    color:blue;
    background-color: green;
}
p:nth-child(even){
    color: palevioletred;
    background-color: rgba(0, 0, 255, 0.5);
} */

/* div~p{
    color:blue;
    background-color: green;
} */
 
div+p{
    color:blue;
    background-color: green;
}

/* input[type="text"]{
    color: red;
    background-color: black;
    padding: 0.5rem;
    border-radius: 5%;
    border: 1px solid red;
} */
 /* flex box */
 .flex_container{
    /*  flex özelliği verdik */
    display: flex;

    /*  yatay düzlem(X)*/
    justify-content: space-around;   

     /* dikey düzlem(Y) */
    align-items: center;

    /* SATIR OLMASI  */
    flex-direction: row;

    /* CONTAINER EĞER SIĞMAZ BÜYÜK GELİRSE BİR SONRAKİ SATIRA GEÇSİN */
    flex-wrap: wrap;

    /* SATIRLAR ARASINDA EŞİT BOŞLUKLAR BIRAKSIN VE DİKEY OLARAK SIRALASIN */
    align-content: space-around;
 }
 .flex_item{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-shadow: 0.5px -0.6px 5px rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 10px 1px 10px 1px white;
    flex:1;
 }
 /* Responsive Design */
 .my_responsive{
    border: 1px solid yellow;
    display: inline-block;
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 255);
 }
 /* 768<= BREAK POİNT <=909 */
 @media screen and (min-width: 768px){
    .my_responsive{
        background-color: green;
        color: #000;
        margin-bottom: 10px;
        width: 49%;
    }
 }
  /* 910<= BREAK POİNT <=1199 */
 @media screen and (min-width: 910px){
    .my_responsive{
        background-color: red;
        color: #000;
        margin-bottom: 10px;
        width: 32%;
    }
 }
  /* BREAK POİNT >= 1200 */
 @media screen and (min-width: 1200px){
    .my_responsive{
        background-color: pink;
        color: #000;
        margin-bottom: 10px;
        width: 24%;
    }
 }